<!DOCTYPE html>
<html>
<head>
	<title>TaqueriaCrawl</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/stylesbundle.min.css">
	<script type="text/javascript" src="/js/scriptbundle.min.js" defer></script>
</head>

<body>
<nav class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li><a href="/"><img src="/img/logo.png" id="logo" alt="Logo"><span>TaqueriaCrawl</span></a></li>
		</ul>
	</div>

	<div class="top-bar-right">
		<ul class="menu">
		  <% if(!currentUser) { %>
					<li><a id="loginlink">Login</a></li>
					<li><a id="registerlink">Sign Up</a></li>
				<%} else { %>
					<li><a href="#">Logged in as: <strong><%= currentUser.username %></strong></a></li>
					<li><a href="/logout">Log Out</a></li>
				<% } %>
		</ul>
	</div>
</nav>

<div class="row">
	<div class="small-12 column">
		<% if (error && error.length > 0) { %>
		<div class="callout small alert" role="alert"><%= error %></div>
	<% } %>

	<% if (success && success.length > 0) { %>
		<div class="callout small success" role="alert"><%= success %></div>
	<% } %>
	</div>
</div>

<div class="reveal" id="Modal" data-reveal>
</div>

<div class="reveal" id="Modal2" data-reveal>
</div>