<% include partials/header %>

<div id="bkgrd" class="text-center container">
<h1 id="landing" class="text-center">Great tacos are only a click away.</h1>


<br>
<a class="button round" href="/taquerias">View Taquerias</a>
<p>&copy; Greg Adams 2016</p>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

<script type="text/javascript">
	$.preloadImages = function() {
		for (var i = 0; i < arguments.length; i++) {
			$("<img />").attr("src", arguments[i]);
			}
		}
	$.preloadImages("../img/taqueria1.jpg","../img/taqueria2.jpg", "../img/taqueria3.jpg");

	var bkgrd = $('div#bkgrd');
	var backgrounds = new Array(
	    'url(img/taqueria1.jpg)',
	  	'url(img/taqueria2.jpg)',
	  	'url(img/taqueria3.jpg)'
	);

	var current = 0;
	function nextBackground() {
	    current++;
	    current = current % backgrounds.length;
	    bkgrd.css('background-image', backgrounds[current]);
	}
	setInterval(nextBackground, 10000);
	bkgrd.css('background-image', backgrounds[0]);
</script>

</body>
</html>