<% include partials/header %>

<div id="bkgrd" class="text-center container">
<h1 id="landing" class="text-center">Great tacos are only a click away.</h1>


<br>
<a class="button round" href="/taquerias">View Taquerias</a>
<p>&copy Greg Adams 2016</p>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>