<% include partials/header %>
<h4 class="text-center">Please provide login information to register</h4>
<form class="AddEditForm" action="/register" method="POST">
	<input type="text" name="username" placeholder="username"></input>
	<input type="password" name="password" placeholder="password"></input>
	<button class="button small round">Sign up</button>	
</form>


<% include partials/footer %>